main>
  <h1>All the posts</h1>
  <div class="post-grid">
    <% posts.forEach(post => {%>
      <div>
      <a href="/posts/<%= post.id %>">
      <img width="200px" height="200px" src="<%= post.image %>" />
      </a>
      </div>
      <% }) %>
    </div>
</main>

<main>
<div class="row columns">
<% posts.forEach(post => {%>
<div class="column is-one-third">
<a href="/posts/<%= post.id %>">
  <div class="card large">
  <h3><%= post.title %></h3>
    <div class="card-image">
      <figure class=image>
        <img src="<%= post.image %>" alt="An image related to t">
      </figure>
    </div>
  </div>
  <% }) %>
</div>
</div>
</main>
