<main>
  <h1><%= title %></h1>
  <img class="show-image" src="<%= image %>"/>
  <p><%= author %></p>
  <p><%= text %></p>
  <% if (locals.isLoggedIn) { %>
    <div class="buttons">
    <form action="/posts/<%= _id %>?_method=DELETE" method="post">
    <button class="button">Delete</button>
    </form>
    <a class="button" href="/posts/<%= _id %>/edit">Edit</a>
    </div>
    <div>
      <% comments.forEach(comment => { %>
        <div>
          <span style="font-weight: bold;"><%= comment.username %></span>
          <span><%= comment.content %></span>
            <form class="delete-comment-button" method="POST" action="/posts/<%= _id %>/comments/<%= comment._id %>?_method=DELETE">
            <button class="delete-comment-button">Delete comment</button>
          </form>
        </div>
      <% }) %>
    </div>
    <div>
      <form method="POST" action="/posts/<%= _id %>/comments">
        <textarea name="content"></textarea>
        <input name="username" type="hidden" value="<%= locals.currentUser.username %>"/>
        <button>Comment on this post</button>
      </form>
    </div>
  <% } %>
</main>
